.plannedContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  gap: 15px;
  justify-content: center;
}

.plannedtMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  gap: 10px;
}
