.newTaskInput {
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  z-index: 1;
  background-color: rgba(43, 43, 46, 0.9);
  color: white;
  padding-left: 50px;
  font-size: medium;
}

.newTaskInput:focus {
  outline: none;
}

.newTaskInput:focus {
  outline: none;
}
.newTaskInput::placeholder {
  color: white;
}

.newTaskForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: max-content;
  background-color: rgba(43, 43, 46, 0);
  border-radius: 5px;
  position: relative;
  padding: 5px 0px;
}

.buttonFormAddNewTask {
  z-index: 2;
  color: white;
}

.buttonsAtTheEnd {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  right: 0;
}

.newTaskInput:hover {
  background-color: rgba(43, 43, 46, 0.8);
}
