.TaskDetailContainer {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-top: 20px;
  height: 100vh;
  justify-content: space-between;
}

.TaskDetailPrincipalContentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  flex: 1;
}

.TaskMainInformation {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 5px 10px 5px;
}

.TaskTitleContainer {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 5px;
}

.TaskTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limita el texto a 2 líneas */
  line-clamp: 3;
  overflow: hidden;
  word-wrap: break-word;
  max-width: 90%;
}
.CheckBoxStyle {
  color: white;
  padding: 0px 0px 0px 0px;
  height: 24px;
  width: 24px;
}

.StarCheckBoxContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}

.TaskDetailSecondaryContentContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  justify-content: space-between;
  padding: 15px 10px 15px 0px;
}
